{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-------------------------------------CSS------------------------------------->
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    <!-----------------------------------UNICONS----------------------------------->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.1/css/line.css">

    <title>Patryk Dobbek</title>
  </head>
  <body>

    <header class="header" id="header">
      <nav class="nav container">
        <a href="#" class="nav__logo">Patryk Dobbek</a>

        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list grid">
            <li class="nav__item">
              <a href="#home" class="nav__link">
                <i class="uil uil-home-alt nav__icon"></i> Home
              </a>
            </li>
            <li class="nav__item">
              <a href="#about" class="nav__link">
                <i class="uil uil-user nav__icon"></i> About Me
              </a>
            </li>
            <li class="nav__item">
              <a href="#skills" class="nav__link">
                <i class="uil uil-brain nav__icon"></i> Skills
              </a>
            </li>
            <li class="nav__item">
              <a href="#education" class="nav__link">
                <i class="uil uil-graduation-cap nav__icon"></i> Education
              </a>
            </li>
            <li class="nav__item">
              <a href="#projects" class="nav__link">
                <i class="uil uil-brackets-curly nav__icon"></i> My Projects
              </a>
            </li>
            <li class="nav__item">
              <a href="#contact" class="nav__link">
                <i class="uil uil-message nav__icon"></i> Contact Me
              </a>
            </li>
          </ul>
          <i class="uil uil-times nav__close nav__icon" id="nav-close"></i>
        </div>

        <div class="nav__btns">
          <div class="nav__toggle" id="nav-toggle">
            <i class="uil uil-apps"></i>
          </div>
        </div>
      </nav>
    </header>

    <main class="main">
      {% block content %}
      {% endblock %}
    </main>

    <footer class="footer">

    </footer>

    <script src="{% static '/js/main.js' %}"></script>
  </body>
</html>
