{% extends 'base_layout.html' %}
{% load static %}

{% block content %}
  <section class="home section" id="home">
    <div class="home__container container grid">
      <div class="home__content grid">
        <div class="home__social">
          <a href="https://www.linkedin.com/in/patryk-dobbek/" target="_blank" class="home__social-icon">
            <i class="uil uil-linkedin"></i>
          </a>
          <a href="https://github.com/pdobbek/" target="_blank" class="home__social-icon">
            <i class="uil uil-github"></i>
          </a>
        </div>

        <div class="home__img">
          <svg class="home__blob" viewBox="0 0 200 187" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <mask id="mask0" mask-type="alpha">
                <path d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 165.547 
                130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 129.362C2.45775 
                97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 -0.149132 97.9666 
                0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z"/>
            </mask>
            <g mask="url(#mask0)">
                <path d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 
                165.547 130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 
                129.362C2.45775 97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 
                -0.149132 97.9666 0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z"/>
                <image class="home__blob-img" x="20" y="-20" href="{% static '/img/patryk.png' %}"/>
            </g>
          </svg>
        </div>
      </div>

      <div class="home__data">
        <h1 class="home__title"> Hi, I'm Patryk </h1>
        <h3 class="home__subtitle">Software Engineer.</h3>
        <p class="home__description">I recently graduated from University of East Anglia with a First-Class Computer Science degree and I'm looking for my first job.</p>
        <a href="#contact" class="button button--flex">
          Contact Me <i class="uil uil-message button__icon"></i>
        </a>
      </div>

      <div class="home__scroll">
        <a href="#about" class="home__scroll-button button--flex">
          <i class="uil uil-mouse-alt home__scroll-mouse"></i>
          <span class="home__scroll-name">Scroll down</span>
          <i class="uil uil-arrow-down home__scroll-arrow"></i>
        </a>
      </div>
    </div>
  </section>

  <!--========================================== ABOUT ==========================================-->
  <section class="about section" id="about">
    <h2 class="section__title">About me</h2>
    <span class="section__subtitle">Quick introduction</span>

    <div class="about__container container grid">
      <img src="{% static '/img/about.png' %}" alt="" class="about__img">
      <div class="about__data">
        <p class="about__description">Motivated, proactive developer with an academic record of delivering high quality work alone and leading small teams.</p>
      </div>
      
      <div class="about__buttons">
        <a download="" href="{% static '/pdf/patryk-dobbek-cv.pdf' %}" class="button button--flex">
          Download CV <i class="uil uil-download-alt button__icon"></i>
        </a>
      </div>
    </div>
  </section>

  <!--========================================== SKILLS ==========================================-->
  <section class="skills section" id="skills">
    <h2 class="section__title">Skills</h2>
    <span class="section__subtitle">What I've picked up so far</span>

    <div class="skills__container container grid">
      <div>
        <!--================= TECHNICAL SKILLS ================-->
        <div class="skills__content skills__open">
          <div class="skills__header">
            <i class="uil uil-brackets-curly skills__icon"></i>
            <div>
              <h1 class="skills__title">Technical skills</h1>
              <span class="skills__subtitle">What I work with the most</span>
            </div>
            <i class="uil uil-angle-down skills__arrow"></i>
          </div>

          <div class="skills__list grid">
            <div class="skills__data">
              <div class="skills__titles">
                <h3 class="skills__name">HTML</h3>
                <img src="{% static '/img/html.svg' %}" class="skills__img">

              </div>
            </div>

            <div class="skills__data">
              <div class="skills__titles">
                <h3 class="skills__name">CSS</h3>
                <img src="{% static '/img/css.svg' %}" class="skills__img">
              </div>
            </div>

            <div class="skills__data">
              <div class="skills__titles">
                <h3 class="skills__name">Python</h3>
                <img src="{% static '/img/python.svg' %}" class="skills__img">
              </div>
            </div>

            <div class="skills__data">
              <div class="skills__titles">
                <h3 class="skills__name">C#</h3>
                <img src="{% static '/img/csharp.svg' %}" class="skills__img">
              </div>
            </div>

            <div class="skills__data">
              <div class="skills__titles">
                <h3 class="skills__name">Java</h3>
                <img src="{% static '/img/java.svg' %}" class="skills__img">
              </div>
            </div>

            <div class="skills__data">
              <div class="skills__titles">
                <h3 class="skills__name">WPF</h3>
                <img src="{% static '/img/arrow.svg' %}" class="skills__img">
              </div>
            </div>

            <div class="skills__data">
              <div class="skills__titles">
                <h3 class="skills__name">Git</h3>
                <img src="{% static '/img/git.svg' %}" class="skills__img">
              </div>
            </div>

            <div class="skills__data">
              <div class="skills__titles">
                <h3 class="skills__name">Scrum</h3>
                <img src="{% static '/img/scrum.svg' %}" class="skills__img">
              </div>
            </div>

            <div class="skills__data">
              <div class="skills__titles">
                <h3 class="skills__name">Machine Learning</h3>
                <img src="{% static '/img/ml.svg' %}" class="skills__img">
              </div>
            </div>
          </div>
        </div>

        <!--================= SOFT SKILLS ================-->
        <div class="skills__content skills__close">
          <div class="skills__header">
            <i class="uil uil-smile skills__icon"></i>
            <div>
              <h1 class="skills__title">Soft skills</h1>
              <span class="skills__subtitle">What I learned working with other people</span>
            </div>
            <i class="uil uil-angle-down skills__arrow"></i>
          </div>

          <div class="skills__list grid">
            <div class="skills__data">
              <div class="skills__titles">
                <h3 class="skills__name">Listening</h3>
                <img src="{% static '/img/ear.svg' %}" class="skills__img">
              </div>
            </div>

            <div class="skills__data">
              <div class="skills__titles">
                <h3 class="skills__name">Empathy</h3>
                <img src="{% static '/img/heart.svg' %}" class="skills__img">
              </div>
            </div>

            <div class="skills__data">
              <div class="skills__titles">
                <h3 class="skills__name">Patience</h3>
                <img src="{% static '/img/hourglass.svg' %}" class="skills__img">
              </div>
            </div>

            <div class="skills__data">
              <div class="skills__titles">
                <h3 class="skills__name">Critical thinking</h3>
                <img src="{% static '/img/lightbulb-alt.svg' %}" class="skills__img">
              </div>
            </div>

            <div class="skills__data">
              <div class="skills__titles">
                <h3 class="skills__name">Collaboration</h3>
                <img src="{% static '/img/comments.svg' %}" class="skills__img">
              </div>
            </div>

            <div class="skills__data">
              <div class="skills__titles">
                <h3 class="skills__name">Taking criticism</h3>
                <img src="{% static '/img/comment-exclamation.svg' %}" class="skills__img">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--========================================== ATTRIBUTIONS ==========================================-->
  <a href="https://iconscout.com/icons/scrum" target="_blank">Scrum Icon</a> by <a href="https://iconscout.com/contributors/lutfix">LUTFI ACHMAD</a> on <a href="https://iconscout.com">Iconscout</a>
{% endblock %}
