{% extends 'base_layout.html' %}

{% block content %}
  <div class="calculator-form">
        <div class="calculator">
          <h2>Calculate GPU Profitability</h2>
          <form class="site-form" action="{% url 'calculator:form' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <label for="mhs">Hashrate (MHs)</label>
            <input type="text" name="mhs" id="mhs" value="{{ calculator.mhs }}" required>

            <label for="power">Power consumption (W)</label>
            <input type="text" name="power" id="power" value="{{ calculator.power }}" required>

            <label for="price">Price (GBP)</label>
            <input type="text" name="price" id="price" value="{{ calculator.price }}" required>

            <label for="kwh_price">Electricity cost (KWh)</label>
            <input type="text" name="kwh_price" id="kwh_price" value="{{ calculator.kwh_price }}" required>

            <input type="submit" value="Submit">
          </form>
        </div>
        
        <div class="gpu-details">
          <!-- Display calculated data below -->
          <p>Hashrate (MHs) = {{ calculator.mhs }}</p>
          <p>Power consumption (W) = {{ calculator.power }}</p>
          <p>Price (GBP) = {{ calculator.price }}</p>
          <p>Electricity cost (KWh) = {{ calculator.kwh_price }}</p>
          <p>Efficiency (MHs/W) = {{ calculator.efficiency }}</p>
          <p>EPP (efficiency/price) = {{ calculator.epp }}</p>
          <p>ROI (days) = {{ calculator.roi }}</p>
        </div>
  </div>
{% endblock %}
