{% extends 'base_layout.html' %}
{% load static %}

{% block content %}
  <section class="home section" id="home">
    <div class="home__container container grid">
      <div class="home__content grid">
        <div class="home__social">
          <a href="https://www.linkedin.com/in/patryk-dobbek/" target="_blank" class="home__social-icon">
            <i class="uil uil-linkedin"></i>
          </a>
          <a href="https://github.com/pdobbek/" target="_blank" class="home__social-icon">
            <i class="uil uil-github"></i>
          </a>
        </div>

        <div class="home__img">
          <svg class="home__blob" viewBox="0 0 200 187" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <mask id="mask0" mask-type="alpha">
                <path d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 165.547 
                130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 129.362C2.45775 
                97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 -0.149132 97.9666 
                0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z"/>
            </mask>
            <g mask="url(#mask0)">
                <path d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 
                165.547 130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 
                129.362C2.45775 97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 
                -0.149132 97.9666 0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z"/>
                <image class="home__blob-img" x="-10" y="-35" href="{% static '/img/patryk.png' %}"/>
            </g>
          </svg>
        </div>
      </div>

      <div class="home__data">
        <h1 class="home__title"> Hi, I'm Patryk </h1>
        <h3 class="home__subtitle">Software Engineer.</h3>
        <p class="home__description">I recently graduated from University of East Anglia with a First-Class Computer Science degree and I'm looking for my first job.</p>
        <a href="#contact" class="button button--flex button--right">
          Contact Me <i class="uil uil-message button__icon"></i>
        </a>
      </div>

      <div class="home__scroll">
        <a href="#about" class="home__scroll-button button--flex">
          <i class="uil uil-mouse-alt home__scroll-mouse"></i>
          <span class="home__scroll-name">Scroll down</span>
          <i class="uil uil-arrow-down home__scroll-arrow"></i>
        </a>
      </div>
    </div>
  </section>

  <!--========================================== ABOUT ME ==========================================-->
  <section class="about section" id="about">
    <div class="about__bg">
      <div class="about__container container grid">
        <div class="about__data">
          <h2 class="about__title">Want to know more about me?</h2>
          <p class="about__description">Motivated, proactive developer with an academic record of delivering high quality work alone and leading small teams.</p>
          <a download="" href="{% static '/pdf/patryk-dobbek-cv.pdf' %}" class="button button--flex button--down button--white">
            Download CV <i class="uil uil-download-alt button__icon"></i>
          </a>
        </div>

        <img src="{% static '/img/about.png' %}" alt="" class="about__img">
      </div>
    </div>
  </section>

  <!--========================================== SKILLS ==========================================-->
  <section class="skills section" id="skills">
    <h2 class="section__title">Skills</h2>
    <span class="section__subtitle">What I've picked up so far</span>

    <div class="skills__container container grid">
      <div>
        <!--================= TECHNICAL SKILLS ================-->
        <div class="skills__content skills__open">
          <div class="skills__header">
            <i class="uil uil-brackets-curly skills__icon"></i>
            <div>
              <h1 class="skills__title">Technical skills</h1>
              <span class="skills__subtitle">What I work with the most</span>
            </div>
            <i class="uil uil-angle-down skills__arrow"></i>
          </div>

          <div class="skills__list grid">
            <div class="skills__data">
              <div class="skills__titles">
                <h3 class="skills__name">HTML</h3>
                <img src="{% static '/img/html.svg' %}" class="skills__img">
              </div>
            </div>

            <div class="skills__data">
              <div class="skills__titles">
                <h3 class="skills__name">CSS</h3>
                <img src="{% static '/img/css.svg' %}" class="skills__img">
              </div>
            </div>

            <div class="skills__data">
              <div class="skills__titles">
                <h3 class="skills__name">Python</h3>
                <img src="{% static '/img/python.svg' %}" class="skills__img">
              </div>
            </div>

            <div class="skills__data">
              <div class="skills__titles">
                <h3 class="skills__name">C#</h3>
                <img src="{% static '/img/csharp.svg' %}" class="skills__img">
              </div>
            </div>

            <div class="skills__data">
              <div class="skills__titles">
                <h3 class="skills__name">Java</h3>
                <img src="{% static '/img/java.svg' %}" class="skills__img">
              </div>
            </div>

            <div class="skills__data">
              <div class="skills__titles">
                <h3 class="skills__name">WPF</h3>
                <img src="{% static '/img/arrow.svg' %}" class="skills__img">
              </div>
            </div>

            <div class="skills__data">
              <div class="skills__titles">
                <h3 class="skills__name">PostgreSQL</h3>
                <img src="{% static '/img/postgresql.svg' %}" class="skills__img">
              </div>
            </div>

            <div class="skills__data">
              <div class="skills__titles">
                <h3 class="skills__name">Git</h3>
                <img src="{% static '/img/git.svg' %}" class="skills__img">
              </div>
            </div>

            <div class="skills__data">
              <div class="skills__titles">
                <h3 class="skills__name">Scrum</h3>
                <img src="{% static '/img/scrum.svg' %}" class="skills__img">
              </div>
            </div>

            <div class="skills__data">
              <div class="skills__titles">
                <h3 class="skills__name">Machine Learning</h3>
                <img src="{% static '/img/ml.svg' %}" class="skills__img">
              </div>
            </div>
          </div>
        </div>

        <!--================= SOFT SKILLS ================-->
        <div class="skills__content skills__close">
          <div class="skills__header">
            <i class="uil uil-smile skills__icon"></i>
            <div>
              <h1 class="skills__title">Soft skills</h1>
              <span class="skills__subtitle">What I learned working with other people</span>
            </div>
            <i class="uil uil-angle-down skills__arrow"></i>
          </div>

          <div class="skills__list grid">
            <div class="skills__data">
              <div class="skills__titles">
                <h3 class="skills__name">Listening</h3>
                <img src="{% static '/img/ear.svg' %}" class="skills__img">
              </div>
            </div>

            <div class="skills__data">
              <div class="skills__titles">
                <h3 class="skills__name">Empathy</h3>
                <img src="{% static '/img/heart.svg' %}" class="skills__img">
              </div>
            </div>

            <div class="skills__data">
              <div class="skills__titles">
                <h3 class="skills__name">Patience</h3>
                <img src="{% static '/img/hourglass.svg' %}" class="skills__img">
              </div>
            </div>

            <div class="skills__data">
              <div class="skills__titles">
                <h3 class="skills__name">Critical thinking</h3>
                <img src="{% static '/img/lightbulb-alt.svg' %}" class="skills__img">
              </div>
            </div>

            <div class="skills__data">
              <div class="skills__titles">
                <h3 class="skills__name">Collaboration</h3>
                <img src="{% static '/img/comments.svg' %}" class="skills__img">
              </div>
            </div>

            <div class="skills__data">
              <div class="skills__titles">
                <h3 class="skills__name">Taking feedback</h3>
                <img src="{% static '/img/comment-exclamation.svg' %}" class="skills__img">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--========================================== EDUCATION ==========================================-->
  <section class="education section" id="education">
    <h2 class="section__title">Education</h2>
    <span class="section__subtitle">Where I studied</span>

    <div class="education__container container grid">
      <div class="education__content">
        <div class="education__header">
          <img src="{% static '/img/uea.jpg' %}" alt="" class="education__img">
          <div class="education__head">
            <h1 class="education__title">Computing Science BSc</h1>
            <span class="education__class">First-Class</span>
          </div>
        </div>

        <div class="education__list grid">
          <div class="education__module">
            <div class="education__titles">
              <h3 class="education__name">Software Engineering</h3>
              <div class="education__grade">
                <span class="education__grade-text">Grade</span>
                <span class="education__grade-percent">83%</span>
              </div>
            </div>
            <p class="education__text">Lead a small team in developing a WPF, PostgreSQL solution using the Scrum framework.</p>
          </div>

          <div class="education__module">
            <div class="education__titles">
              <h3 class="education__name">Machine Learning</h3>
              <div class="education__grade">
                <span class="education__grade-text">Grade</span>
                <span class="education__grade-percent">75%</span>
              </div>
            </div>
            <p class="education__text">Developed an extended ID3 classifier implemented in Java using the Weka library.</p>
          </div>

          <div class="education__module">
            <div class="education__titles">
              <h3 class="education__name">Networks</h3>
              <div class="education__grade">
                <span class="education__grade-text">Grade</span>
                <span class="education__grade-percent">74%</span>
              </div>
            </div>
            <p class="education__text">VoIP application developed in Python. Successfully achieved a goal of obtaining a first-class mark while working alone on a project intended for four people.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--========================================== PROJECTS ==========================================-->
  <section class="projects section" id="projects">
    <h2 class="section__title">My Projects</h2>
    <span class="section__subtitle">What I've worked on in my spare time</span>

    <div class="projects__container container swiper">
      <div class="swiper-wrapper">
        <!--================= PROJECT 1 ================-->
        <div class="projects__content grid swiper-slide">
          <img src="{% static '/img/project1.png' %}" alt="" class="projects__img">

          <div class="projects__data">
            <h3 class="projects__title">ElaDungeon</h3>
            <p class="projects__description">A small top-down RPG game intended as a greeting card for my partner's little sister. Developed in Unity using C#.</p>
            <a href="https://github.com/pdobbek/ela-dungeon" class="button button--flex button--small projects__button">
              GitHub <i class="uil uil-github button__icon"></i>
            </a>
            <a href="#" class="button button--flex button--small projects__button button--down">
              Download <i class="uil uil-download-alt button__icon"></i>
            </a>
          </div>
        </div>

        <!--================= PROJECT 2 ================-->
        <div class="projects__content grid swiper-slide">
          <img src="{% static '/img/project2.png' %}" alt="" class="projects__img">

          <div class="projects__data">
            <h3 class="projects__title">GPU Profitability Calculator</h3>
            <p class="projects__description">A simple Python program for calculating efficiency of GPUs mining Ethereum.</p>
            <a href="https://github.com/pdobbek/profitability-calculator" class="button button--flex button--small projects__button">
              GitHub <i class="uil uil-github button__icon"></i>
            </a>
            <a href="{% url 'calculator:form' %}" class="button button--flex button--small projects__button button--right">
              View <i class="uil uil-arrow-right button__icon"></i>
            </a>
          </div>
        </div>

        <!--================= PROJECT 3 ================-->
        <div class="projects__content grid swiper-slide">
          <img src="{% static '/img/project3.png' %}" alt="" class="projects__img">

          <div class="projects__data">
            <h3 class="projects__title">This website</h3>
            <p class="projects__description">My first real venture into web development.</p>
            <a href="https://github.com/pdobbek/portfolio-site" class="button button--flex button--small projects__button">
              GitHub <i class="uil uil-github button__icon"></i>
            </a>
          </div>
        </div>
      </div>
      <!-- Swiper arrows -->
      <div class="swiper-button-next">
        <i class="uil uil-angle-right-b swiper-projects-icon"></i>
      </div>
      <div class="swiper-button-prev">
        <i class="uil uil-angle-left-b swiper-projects-icon"></i>
      </div>
      <!-- Swiper pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </section>

  <!--========================================== CONTACT ME ==========================================-->
  <section class="contact section" id="contact">
    <h2 class="section__title">Contact Me</h2>
    <span class="section__subtitle">Get in touch</span>

    <div class="contact__container container grid">
      <div>
        <div class="contact__information">
          <i class="uil uil-phone contact__icon"></i>

          <div>
            <h3 class="contact__title">Call Me</h3>
            <span class="contact__subtitle">+44 7563577499</span>
          </div>
        </div>

        <div class="contact__information">
          <i class="uil uil-envelope contact__icon"></i>

          <div>
            <h3 class="contact__title">Email Me</h3>
            <span class="contact__subtitle">p.dobbek@pm.me</span>
          </div>
        </div>

        <div class="contact__information">
          <i class="uil uil-map-marker contact__icon"></i>

          <div>
            <h3 class="contact__title">Location</h3>
            <span class="contact__subtitle">Luton, Bedfordshire, United Kingdom</span>
          </div>
        </div>
      </div>

      <form method="post" class="contact__form grid">
        {% include 'messages.html' %}
        {% csrf_token %}
        <div class="contact__inputs grid">
          <div class="contact__content">
            <label for="from_email" class="contact__label">Email</label>
            <input name="from_email" type="email" class="contact__input">
          </div>
          <div class="contact__content">
            <label for="subject" class="contact__label">Subject</label>
            <input name="subject" type="text" class="contact__input">
          </div>
        </div>
        
        <div class="contact__content">
          <label for="message" class="contact__label">Message</label>
          <textarea name="message" id="message" cols="0" rows="7" class="contact__input"></textarea>
        </div>
        <div>
          <button type="submit" class="button button--flex button--right">
            Send Message
            <i class="uil uil-message button__icon"></i>
          </a>
        </div>
      </form>

    </div>

  </section>

  <!--========================================= ATTRIBUTIONS =========================================-->
  <!-- <a href="https://iconscout.com/icons/scrum" target="_blank">Scrum Icon</a> by <a href="https://iconscout.com/contributors/lutfix">LUTFI ACHMAD</a> on <a href="https://iconscout.com">Iconscout</a> -->
{% endblock %}
